.details {
  float: left;
  width: 100%;
  min-height: calc(100vh - 60px); /* subtract navigation bar */
  background-color: #1f2933;
}

.details h1 {
  width: 84%;
  margin: 5px 8% 0 8%;
  color: white;
  font-size: 30px;
  font-family: 'Signika', sans-serif;
  text-align: center;
}

.details h2 {
  width: 84%;
  margin: 50px 8% 10px 8%;
  color: white;
  font-size: 20px;
  font-family: 'Signika', sans-serif;
  text-align: center;
}

.details .control-bar {
  float: left;
  width: 90%;
  min-height: 30px;
  margin: 5px 5%;
  padding: 5px 0;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.details .control-bar .button-on, .details .control-bar .button-off {
  border: 1px solid #3E4C59;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 5px;
  padding: 5px;
  display: inline-block
}

.details .control-bar .button-on {
  color: #1f2933;
  background-color: white;
}

.details .control-bar .button-off {
  color: white;
  background-color: #3E4C59;
}

.details .control-bar .button-off:hover {
  color: #1f2933;
  background-color: white;
}

.details .form, .details code {
  float: left;
  min-height: 30px;
  padding-bottom: 30px;
}

.details code {
  background-color: #323F4B;
  color: white;
  padding: 5px;
  word-break: break-all;
  overflow: hidden;
  cursor: pointer;
}

/* Desktop devices */
@media only screen and (min-width: 600px) {
  .details .form, .details code {
    width: 35%;
    margin: 0 32.5% 30px 32.5%;
  }
}

/* Other devices */
@media only screen and (max-width: 600px) {
  .details .form, .details code {
    width: 90%;
    margin: 0 5% 30px 5%;
  }
}

.details .form .question {
  float: left;
  border: 1px solid #323F4B;
  background-color: #323F4B;
  width: calc(100% - 2px); /* borders */
  min-height: 30px;
  margin-top: 20px;
  padding: 5px 0;
  border-radius: 5px;
}

.details .form .question .title {
  margin: 5px 15px 15px 15px;
  color: white;
  font-size: 20px;
}

.details .form .question .info {
  margin: 15px 15px 5px 15px;
  color: white;
  font-size: 15px;
}

.details .form .question .text-list {
  float: left;
  width: calc(100% - 30px); /* margins */
  margin: 0 15px 15px 15px;
  max-height: 150px;
  overflow-y: scroll;
}

/* Desktop devices */
@media only screen and (min-width: 600px) {
  /* width */
  .details .form .question .text-list::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  .details .form .question .text-list::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  .details .form .question .text-list::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  .details .form .question .text-list::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.details .form .question .text-list .answer {
  margin: 5px 0 5px 5px;
  padding: 5px;
  width: calc(100% - 25px); /* scroll width + 5px + paddings */
  color: #1f2933;
  background-color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.details .form .question .text-list .answer:hover {
  background-color: #CBD2D9;
}

.details .form .question .option-diagram {
  margin: 5px 25px 5px 15px;
  border-left: 1px solid white;
  width: calc(100% - 41px); /* margins and paddings */
}

.details .form .question .option-diagram .option {
  padding: 5px;
  width: 100%; /* margins and paddings */
  color: #1f2933;
  background-color: white;
  font-size: 16px;
  border-radius: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.details .form .question .option-diagram .option-info {
  margin: 15px 15px 5px 0;
  color: white;
  font-size: 15px;
}
