.form-name, .form-name-editable {
  text-align: center;
  resize: horizontal;
  padding: 5px;
  width: calc(84% - 10px);
  min-height: 37px;
  background-color: #1f2933;
  color: white;
  margin: 10px 8% 15px 8%;
  border-radius: 5px;
  font-size: 30px;
  line-height: 37px;
  text-decoration: none;
  display: inline-block;
  border: none;
  outline: none;
  font-weight: bold;
}

.form-name-editable:hover, .input-area .form-name-editable:focus {
  background-color: white;
  color: #1f2933;
}

.drop-place {
  float: left;
  width: 84%;
  margin: 2.5px 8%;
  height: 10px;
  border-radius: 5px;
}

.form-card {
  width: 84%;
  margin: 0 calc(8% - 1px);
  border: 1px solid #323F4B;
  background-color: #323F4B;
  border-radius: 8px;
  float: left;
}

.form-card .dragger {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
  cursor: grab;
}

.form-card .title, .form-card .title-editable {
  resize: horizontal;
  padding: 5px;
  width: calc(90% - 10px);
  min-height: 27px;
  background-color: #323F4B;
  color: white;
  margin: 0 5% 10px 5%;
  border-radius: 5px;
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;
  display: inline-block;
  border: none;
  outline: none;
}

.form-card .title-editable:hover, .form-card .title-editable:focus {
  background-color: white;
  color: #1f2933;
}

.form-card .check-off {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  margin: 17px 10px 5px 15px;
  cursor: pointer;
  background: url("images/check-off.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.form-card .check-on {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  margin: 17px 10px 5px 15px;
  cursor: pointer;
  background: url("images/check-on.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.form-card .radio-off {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  margin: 17px 10px 5px 15px;
  cursor: pointer;
  background: url("images/radio-off.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.form-card .radio-on {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  margin: 17px 10px 5px 15px;
  cursor: pointer;
  background: url("images/radio-on.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.form-card .option, .form-card .option-editable {
  float: left;
  padding: 5px;
  width: calc(95% - 65px);
  min-height: 27px;
  background-color: #323F4B;
  color: white;
  margin: 10px 5% 10px 5px;
  cursor: text;
  border-radius: 5px;
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;
  display: inline-block;
  border: none;
  outline: none;
}

.form-card .option-editable:hover, .form-card .option-editable:focus {
  background-color: white;
  color: #1f2933;
}

/* Bottom Button part */
.form-card .add, .form-card .exclamation-on, .form-card .exclamation-off, .form-card .remove {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 12.5px 0px 12.5px 15px;
  cursor: pointer;
}

.form-card .add {
  background: url("images/add-3.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.form-card .exclamation-on {
  background: url("images/exclamation-2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.form-card .exclamation-off {
  background: url("images/exclamation-1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.form-card .remove {
  background: url("images/remove-1.png");
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: center;
}

/* Desktop devices on hover */
@media only screen and (min-width: 600px) {
  .form-card .add:hover {
    background: url("images/add-1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .form-card .exclamation-on:hover {
    background: url("images/exclamation-1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .form-card .exclamation-off:hover {
    background: url("images/exclamation-2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .form-card .remove:hover {
    background: url("images/remove-2.png");
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center;
    background-color: white;
  }
}
/* ------------- */

.form-card .top {
  width: 100%;
  height: 20px;
  border-radius: 10px;
}

.form-card .bottom {
  float: left;
  width: 100%;
  height: 30px;
  margin: 10px 0px;
}

.form-card .text, .form-card .paragraph {
  padding: 5px 10px;
  border: 2px solid white;
  width: calc(90% - 24px); /* subtract padding and border */
  min-height: 25px;
  border-radius: 6px;
  margin: 15px 5% 5px 5%;
  background-color: white;
  color: #1f2933;
  font-size: 20px;
  cursor: text;
  display: inline-block;
  border: none;
  outline: none;
}

.form-card .text {
  min-height: 25px;
}

.form-card .paragraph {
  min-height: 100px;
}

.form-card .text:hover, .form-card .paragraph:hover {
  background-color: lightgrey;
}

.form-card .date, .form-card .upload {
  float: left;
  text-align: center;
  padding: 5px 10px;
  width: calc(90% - 20px); /* subtract padding */
  height: 25px;
  border-radius: 6px;
  margin: 15px 5% 5px 5%;
  background-color: white;
  color: #1f2933;
  font-size: 20px;
  cursor: pointer;
  text-transform: capitalize;
}

.form-card .date:hover, .form-card .upload:hover {
  background-color: lightgrey;
}
