header {
  width: 100%;
  float: left;
  background-color: var(--background);
  height: 60px;
}

header h1 {
  float: left;
  margin: 15px 0 15px 5%;
  font-size: 25px;
  color: var(--font);
  cursor: pointer;
}

header span {
  width: 80px;
  float: right;
  min-height: 20px;
  margin: 15px 5%;
  border: 1px solid var(--button-border);
  border-radius: 5px;
  background-color: var(--button-color);
  color: var(--button-font);
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  padding: 5px 0;
}

header span:hover {
  background-color: var(--button-hovered-color);
  color: var(--button-hovered-font);
  border: 1px solid var(--button-hovered-border);
}
