header {
  width: 100%;
  float: left;
  background-color: #06141C;
  height: 60px;
}

header h1 {
  float: left;
  margin: 15px 0 15px 5%;
  font-size: 25px;
  color: white;
  cursor: pointer;
}

header a {
  width: 80px;
  float: right;
  min-height: 20px;
  margin: 15px 5%;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #06141C;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  padding: 5px 0;
}

header a:hover {
  background-color: white;
  color: #06141C;
}
