header {
  width: 100%;
  float: left;
  background-color: #06141C;
  height: 60px;
}

header h1 {
  float: left;
  margin: 15px 0 15px 5%;
  font-size: 25px;
  color: white;
  cursor: pointer;
}

header button {
  width: 80px;
  float: right;
  height: 30px;
  margin: 15px 5%;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #06141C;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

header button:hover {
  background-color: white;
  color: #06141C;
}
