.opening-screen {
  float: left;
  min-height: calc(100vh - 60px); /* subtract navigation bar */
  background-color: #1f2933;
  color: white;
  text-align: center;
  width: 100%;
}

.opening-screen h1 {
  color: white;
  margin-top: 80px;
  font-size: 45px;
  font-family: 'Signika', sans-serif;
  padding-bottom: 10px;
}

.opening-screen p {
  font-family: 'Inder', sans-serif;
  line-height: 35px;
  margin-bottom: 15px;
  font-size: 28px;
  margin: auto;
  color: lightgrey;
}

/* Desktop devices */
@media only screen and (min-width: 600px) {
  .opening-screen p{
    width: 60%;
  }
}

/* Other devices */
@media only screen and (max-width: 600px) {
  .opening-screen p{
    width: 90%;
  }
}

.opening-screen button {
  width: 150px;
  height: 50px;
  margin: 40px auto 0 auto;
  border: 1px solid white;
  border-radius: 8px;
  background-color: #1f2933;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.opening-screen button:hover {
  background-color: white;
  color: #1f2933;
}
