.opening-screen {
  float: left;
  min-height: calc(100vh - 60px); /* subtract navigation bar */
  background-color: var(--background);
  text-align: center;
  width: 100%;
}

.opening-screen h1 {
  color: var(--font);
  margin-top: 80px;
  font-size: 45px;
  font-family: 'Signika', sans-serif;
  padding-bottom: 10px;
}

.opening-screen p {
  font-family: 'Inder', sans-serif;
  line-height: 35px;
  margin-bottom: 15px;
  font-size: 28px;
  margin: auto;
  color: var(--font);
}

/* Desktop devices */
@media only screen and (min-width: 600px) {
  .opening-screen p{
    width: 60%;
  }
}

/* Other devices */
@media only screen and (max-width: 600px) {
  .opening-screen p{
    width: 90%;
  }
}

.opening-screen button {
  width: 150px;
  height: 50px;
  margin: 40px auto 40px auto;
  border: 1px solid var(--button-border);
  border-radius: 8px;
  background-color: var(--button-color);
  color: var(--button-font);
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.opening-screen button:hover {
  background-color: var(--button-hovered-color);
  color: var(--button-hovered-font);
  border: 1px solid var(--button-hovered-border);
}
