.overview {
  float: left;
  width: 100%;
  min-height: calc(100vh - 60px); /* subtract navigation bar */
  background-color: #06141C;
}

.overview h2 {
  width: 84%;
  margin: 30px 8% 5px 8%;
  color: white;
  font-size: 20px;
  font-family: 'Signika', sans-serif;
}

.overview .view {
  float: left;
  width: 90%;
  min-height: 30px;
  margin: 5px 5% 50px 5%;
  padding: 5px 0;
}

.overview .view .template {
  float: left;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 5px;
  padding: 5px;
  color: white;
}

.overview .view .card {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 110px;
  min-height: 10px;
  float: left;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 5px;
  padding: 25px 20px;
  color: white;
  text-align: center;
  white-space: nowrap;
}

.overview .view .template:hover, .overview .view .card:hover {
  background-color: white;
  color: #06141C;
}
